{% extends 'blog/base.html' %} 
{% load static %}
{% block content %}
<div class="col-sm-10">
  <h3 class="text-white my-5">About Page
  </h3>
 <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quibusdam, necessitatibus? Sed, illum. Dolorum, suscipit unde beatae soluta at perspiciatis ullam fuga sit perferendis? Facilis et, optio ex aliquid mollitia dignissimos?</p>
 <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur eum accusantium repudiandae dolorem adipisci consequuntur soluta obcaecati aperiam. Ut modi, quae molestias asperiores neque omnis ipsum corrupti aut odio ea quaerat accusantium mollitia, doloremque veniam quasi iusto incidunt ad sapiente soluta. Vero soluta, eos beatae atque quisquam magnam ea aut?</p>

</div>
{% endblock content %}